@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

* {
    margin: 0px;
    padding: 0px;
    
}
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #313031;
}

*::-webkit-scrollbar-thumb {
    background-color: #FF3F3A;
    border-radius: 20px;
    border: 3px solid #313031;
}

html, body {
    font-family: 'Electrolize', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    top: 0;
    left: 0;
    scroll-behavior: smooth;
    background-image: url(/assets/img/pexels-stas-knop-1228497.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    
}

*::-webkit-scrollbar {
    width: 12px;
}

  *::-webkit-scrollbar-track {
    background: #313031;
}

  *::-webkit-scrollbar-thumb {
    background-color: #FF3F3A;
    border-radius: 20px;
    border: 3px solid #313031;
}

#myModal {
    width: 50rem;
    height: 30rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: #E9E9E9;
    overflow-y: hidden;
}

.product {
    width: 75%;
}

@media screen and (max-width:414px) {
    #myModal {
        width: 23rem;
        height: 40rem;
        flex-direction: column;
        
    }

    .blockColor{
        display: none;
    }
    .imgModal {
        width: 13rem;
        height: 9rem;
        object-fit: contain;
    }

    .allPrice {
        width: 100%;
        border-top: 1px solid #FF3F3A;
        border-left: none;
    }

    .product {
        width: 100%;
    }

    .priceTitle {
        color: #FF3F3A;
    }
}


.modalBg {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.productPrice {
    z-index: 5;
}

.productTitle {
    z-index: 5;
}

.imgModal {
    width: 25rem;
    height: 10rem;
    object-fit: cover;
    z-index: 10;
}

@media screen and (max-width:414px) {
    .imgModal {
        width: 13rem;
        object-fit: contain;
    }
}

.btnBuy {
    margin-left: 5rem;
    margin-bottom: 2rem;
    font-family: "Electrolize";
    font-weight: bold;
    z-index: 10;
}

.btn {
    width: 4rem;
    border-radius: 0%;
    font-family: "Electrolize";
}

.blockQuantityDelete {
    display: flex;
    justify-content: space-around;
}

.dropdown-menu.show {
    width: 4rem;
}

.dropdown-menu {
    min-width: 4rem;
    overflow-y: scroll;  
    scrollbar-width: thin;
    height: 3rem;
}

.validCart {
    height: 10rem;
}

.btnValidCart {
    margin-left: 1rem;
    font-family: "Electrolize";
    font-weight: bold;
}

.pictureBin {
    cursor: pointer;
}

.productPicture  {
    overflow-y: auto;

}

.pictureBin {
    width: 2rem;
    height: 2rem;
}

.blockColor {
    height: 15rem;
    width: 20rem;
    position: absolute;
    left: 5%;
    top: 15%;
    background-color: #FF3F3A;
    
}


.productPrice, .productTitle {
    font-family: "Electrolize";
    margin-left: 1rem;
}

.price {
    font-family: "Electrolize";
}

.allPrice {
    border-left: 1px solid;
}

header{
    position: absolute;
    width: 100%;
    height: 10vh;
    top: 0;
    left: 0;
    padding: 0 1rem;
}
/* a{
    
    color: #313031 !important;
    
} */

.navbar{
    padding: 2rem 2rem;
    height: 0rem;
    min-height: 20vh;
    position: fixed;
    background: transparent;  
    
    border: transparent;
    transition: all 0.3s ease-out;
}

.navbar-toggler:focus {
    box-shadow: none;
    
}
.nav-item{
    margin: 0 !important;
    padding: 0em 1em;
    align-items: center;
}
.nav-item a {
    
    text-decoration: none;
    font: 16px;
    margin: 0px 5px;
    padding: 5px 10px;
    position: relative;
    z-index: 0;
    text-align: center;

}

img {
    max-width: 100%;
    max-height: 95%;
}
.logo{
    height: 450px;
    width: 500px;
}

@media (max-width: 991px) {
    .nav-item{
        background-color: #f1f1f1;
    }
    .navbar-toggler{
        border: none;
    }
    .logo{
        display: none;
    }
}

/* Top & Bottom Borders Out */
a:before, a:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #313031;
    content:"";
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.nav-link:before {
    top: 0px;
    transform: translateY(10px);
}
.nav-link:after {
    bottom: 0px;
    transform: translateY(-10px);
}
.nav-link:before {
    top: 0px;
    transform: translateX(10px);
}
.nav-link:after {
    bottom: 0px;
    transform: translateX(-10px);
}
.nav-link:hover:before, .nav-link:hover:after {
    opacity: 1;
    transform: translateY(0px);
    background: #FF3F3A;
    
}

.anim-nav {
    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(3px);
    background: -webkit-linear-gradient(-180deg,rgba(224,221,214,0.3), rgba(163,163,163,0.5));
    background: -moz-linear-gradient(-180deg,rgba(224,221,214,0.3), rgba(163,163,163,0.5));
    background: -o-linear-gradient(-180deg,rgba(224,221,214,0.3), rgba(163,163,163,0.5));
    background: linear-gradient(-180deg,rgba(224,221,214,0.3), rgba(163,163,163,0.5));
}