@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

* {
    padding: 0;
    margin: 0;
}

*::-webkit-scrollbar {
    width: 12px;
}

  *::-webkit-scrollbar-track {
    background: #313031;
}

  *::-webkit-scrollbar-thumb {
    background-color: #FF3F3A;
    border-radius: 20px;
    border: 3px solid #313031;
}

#myModal {
    width: 50rem;
    height: 30rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: #E9E9E9;
    overflow-y: hidden;
}

.product {
    width: 75%;
}

@media screen and (max-width:414px) {
    #myModal {
        width: 23rem;
        height: 40rem;
        flex-direction: column;
        
    }

    .blockColor{
        display: none;
    }
    .imgModal {
        width: 13rem;
        height: 9rem;
        object-fit: contain;
    }

    .allPrice {
        width: 100%;
        border-top: 1px solid #FF3F3A;
        border-left: none;
    }

    .product {
        width: 100%;
    }

    .priceTitle {
        color: #FF3F3A;
    }
}


.modalBg {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.productPrice {
    z-index: 5;
}

.productTitle {
    z-index: 5;
}

.imgModal {
    width: 25rem;
    height: 10rem;
    object-fit: cover;
    z-index: 10;
}

@media screen and (max-width:414px) {
    .imgModal {
        width: 13rem;
        object-fit: contain;
    }
}

.btnBuy {
    margin-left: 5rem;
    margin-bottom: 2rem;
    font-family: "Electrolize";
    font-weight: bold;
    z-index: 10;
}

.btn {
    width: 4rem;
    border-radius: 0%;
    font-family: "Electrolize";
}

.blockQuantityDelete {
    display: flex;
    justify-content: space-around;
}

.dropdown-menu.show {
    width: 4rem;
}

.dropdown-menu {
    min-width: 4rem;
    overflow-y: scroll;  
    scrollbar-width: thin;
    height: 3rem;
}

.validCart {
    height: 10rem;
}

.btnValidCart {
    margin-left: 1rem;
    font-family: "Electrolize";
    font-weight: bold;
}

.pictureBin {
    cursor: pointer;
}

.productPicture  {
    overflow-y: auto;

}

.pictureBin {
    width: 2rem;
    height: 2rem;
}

.blockColor {
    height: 15rem;
    width: 20rem;
    position: absolute;
    left: 5%;
    top: 15%;
    background-color: #FF3F3A;
    
}


.productPrice, .productTitle {
    font-family: "Electrolize";
    margin-left: 1rem;
}

.price {
    font-family: "Electrolize";
}

.allPrice {
    border-left: 1px solid;
}